@import url('https://fonts.googleapis.com/css2?family=Caveat:wght@400..700&family=Playwrite+NO:wght@100..400&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background: linear-gradient(to left,#FF4E50,#F9D423);
    font-family:"Poppins", sans-serif;
}
.container{
    margin: auto;
    margin-top: 2.5rem;
 width: 100%;
 max-width: 650px;
  box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
 text-align: center;
}
h1{
    text-shadow: 3px 3px 4px rgb(0, 0, 0);
    color: white;
}
.inbtn{
    width: 70%;
    text-align: start;
   max-width: 480px;
   height: 80px;
   /* background-color: black; */
   box-shadow: rgba(0, 0, 0, 0.17) 0px -23px 25px 0px inset, rgba(0, 0, 0, 0.15) 0px -36px 30px 0px inset, rgba(0, 0, 0, 0.1) 0px -79px 40px 0px inset, rgba(0, 0, 0, 0.06) 0px 2px 1px, rgba(0, 0, 0, 0.09) 0px 4px 2px, rgba(0, 0, 0, 0.09) 0px 8px 4px, rgba(0, 0, 0, 0.09) 0px 16px 8px, rgba(0, 0, 0, 0.09) 0px 32px 16px;
margin-left: 13%;
display: flex;
justify-content: center;
align-items: center;
gap: 20px;
border-radius: 5px;
margin-top: 20px;
}
.inbtn #dob{
    width: 60%;
    max-width: 280px;
    height: 35px;
    margin-left: 5px;
    border: none;
}
input{
    outline: none;
    font-size: 19px;
   border-radius: 4px;
   background-color: rgb(255, 255, 255);

}
 .btn{
    width: 60%;
    border: none;
    outline: none;
    height: 38px;
    max-width: 110px;
    font-size: 21px;
    border-radius: 4px;
    cursor: pointer;
   background-color: rgb(255, 255, 255);

} 
 /* css for output  */
 .outputbox{
     width: 80%;
   max-width: 700px;
   height: 150px;
   display: flex;
   justify-content: center;
   gap: 90px;
   align-items: center;
   margin-left: 50px;
 }
 .output{
    width: 60%;
    max-width: 100px;
    height: 90px;
    /* background-color: black; */
    color: rgb(0, 0, 0);
    font-size: 25px;
    text-align: center;
    margin-top: 20px;
   box-shadow: rgba(0, 0, 0, 0.17) 0px -23px 25px 0px inset, rgba(0, 0, 0, 0.15) 0px -36px 30px 0px inset, rgba(0, 0, 0, 0.1) 0px -79px 40px 0px inset, rgba(0, 0, 0, 0.06) 0px 2px 1px, rgba(0, 0, 0, 0.09) 0px 4px 2px, rgba(0, 0, 0, 0.09) 0px 8px 4px, rgba(0, 0, 0, 0.09) 0px 16px 8px, rgba(0, 0, 0, 0.09) 0px 32px 16px;
 }
 .yo{
    margin-top: 8px;
 }
 .mo{
    margin-top: 8px;
 }
 .do{
    margin-top: 8px;
 }
 @media  screen and (max-width: 540px) {
    .container{
    margin: auto;
    margin-top: 2.5rem;
 width: 100%;
 max-width: 650px ;
 color: white;
 text-align: center;
}
.outputbox{
     width: 80%;
   max-width: 700px;
   height: 150px;
   display: flex;
   justify-content: center;
   gap: 30px;
   align-items: center;
   margin-left: 30px;
 }
 .inbtn{
    width: 95%;
    text-align: start;
   max-width: 700px;
   height: 80px;
margin-left: 3%;
display: flex;
justify-content: center;
align-items: center;
gap: 10px;
border-radius: 5px;
margin-top: 20px;
}
    .output{
    width: 60%;
    max-width: 200px;
    height: 60px;
    color: white;
    font-size: 17px;
    text-align: center;
 }
 .btn{
    width: 50%;
    border: none;
    outline: none;
    height: 38px;
    max-width: 90px;
    font-size: 19px;
    border-radius: 4px;
    cursor: pointer;
   background-color: rgb(255, 255, 255);
} 
 }